@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.headerBar {

  position: absolute;
  left: 4.5%;
  right: 4.91%;
  top: 13.59%;
  bottom: 86.29%;

  border: 1px solid #979797;
}

.contactTitle {
  position: absolute;
  padding-left: 4%;
  font-family: 'Open Sans', sans-serif;
  font-size: 50px;
  line-height: 0px;

  color: rgba(0, 0, 0, 0.967957);
}

.column {
  float: left;
  width: 33.33%;
  padding: 10px;
  text-align: inherit;
}

.contactContent {
  display: block;
  text-align: left;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.addContact {
  color: #757575;
  font-size: 40px;
  float: right;
  display:block;
  background-color:initial;
  padding-top: 33px;
  padding-right: 5%;
  border: none;
  outline:none;
}



.contact {
  padding-left: 4%;
}

.contactName {
  font-family: 'Open Sans', sans-serif;
  font-size: 25px;
  display: flex;
  padding-left: 20px;

  letter-spacing: 1.9px;
  color: #050505;

  display:inline-block
}

.contactDescription {

  padding-left: 20px;

  margin: 10px 0%;

  font-family: 'Open Sans', sans-serif;
  font-size: 15px;

  letter-spacing: 1.26667px;

  color: #757575;
}

.contactPhoto{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.background-overlay {
  position: absolute;
  left: 0.03%;
  right: -0.03%;
  top: 0%;
  bottom: 0%;
  z-index: 0;
  background: rgba(10, 40, 38, 0.561453);
}

.overlay {
  position: absolute;
  left: 30.41%;
  right: 30.32%;
  top: 18.51%;
  bottom: 11.9%;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.970024);
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 38px;
  /* background: rgba(10, 40, 38, 0.561453); */
}

.avatar-circle {
  width: 50px;
  height: 50px;
  background-color: #5CC8EE;
  text-align: center;
  border-radius: 50%;
  padding-top: 10px;
  /* -webkit-border-radius: 50%;
  -moz-border-radius: 50%; */
}

.initials {
  position: relative;
  bottom:20%; /* 25% of parent */

  font-family: 'Open Sans', sans-serif;
  font-size: 25px;
  line-height: 70px;

  color: #FFFFFF
}

.delete {
  color: #EE7B7B;
  font-size: 22px;
  float: right;
  padding-right: 5%;
  padding-bottom: 5px;

  position:absolute;
  right: 1%;
}
.edit {
  width: 20px;
  height: auto;
  float: right;
  padding-right: 5%;

  position:absolute;
  right: 4%;
}

input[type=text] {
    background: transparent;
    border: none;
    /* border-bottom: 1px solid #979797; */
    font-size: 15px;
    width: 70%;
}


::placeholder {
  color: rgba(95, 95, 95, 0.391786);
  font-family: 'Open Sans', sans-serif;
}

.inputAttributes {

  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  width: 70% !important;
  /* float: center; */
  color: #3D8782;
  display:inline;
  border-bottom: 1px solid #979797
}

.details {
  position: absolute;
  left: 34.62%;
  right: 34.53%;
  top: 53.86%;
  bottom: 46.02%;
}

.cancel {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  line-height: 59px;
  padding-left: 4%;
  float: left;
  color: rgba(61, 135, 130, 0.606488);
}

.addPhoto {
  font-size: 10px;
  color: rgba(255, 255, 255, 0.967957);
}

.photo-circle {
  width: 50px;
  height: 50px;
  background-color: #3D8782;
  text-align: center;
  border-radius: 50%;
  padding-top: 10px;
}

.btn {
  border: none;
  background-color: inherit;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
  font-size: 15px;
  line-height: 59px;
  float: right;
  color: rgba(61, 135, 130, 0.606488);
}
