.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header {
  border-bottom: 1px;
  border-style: solid;
  border-color: #979797;
  /* border-bottom: 1px solid #979797; */
  /* position: absolute;
  left: 4.5%;
  right: 4.91%;
  top: 13.59%;
  bottom: 86.29%; */
}

.contactHeader {
  position: absolute;
  /* height: 129px; */
  /* left: 4.5%; */
  /* right: 78.85%; */
  /* top: calc(50% - 129px/2 - 996.5px); */

  font-family: OpenSans;
  font-size: 50px;
  /* padding-bottom: 45px; */
  line-height: 0px;

  color: rgba(0, 0, 0, 0.967957);
}

.contactContainer {
  border: 1px;
  border-style: dashed;
}

.contact {
  border: 1px;
  border-style: dashed;
  border-color: orange;
}

.addContact {
  color: #757575;
  font-size: 40px;
  float: right;
  /* width:120px;
  height:60px; */
  /* margin-left:35px; */
  display:block;
  background-color:initial;
  /* color:white; */
  border: none;
  outline:none;
}

.contactName {
  /* position: absolute; */
  /* height: 82px;
  left: 12.26%;
  right: 78.88%;
  top: calc(50% - 82px/2 - 672px); */

  font-family: OpenSans;
  font-size: 34px;
  line-height: 70px;
  letter-spacing: 1.9px;

  color: #050505;
}

.background-overlay {
  position: absolute;
  left: 0.03%;
  right: -0.03%;
  top: 0%;
  bottom: 0%;
  z-index: 0;
  background: rgba(10, 40, 38, 0.561453);
}

.overlay {
  position: absolute;
  left: 30.41%;
  right: 30.32%;
  top: 18.51%;
  bottom: 11.9%;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.970024);
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 38px;
  /* background: rgba(10, 40, 38, 0.561453); */
}
